<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Quiz02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
from google.colab import drive #เชื่อมต่อกับไดฟ์ของเรา 
drive.mount('/content/drive')

Mounted at /content/drive

In [54]:
path = '/content/drive/My Drive/Data_viz'

In [85]:
D01 = pd.read_csv('3.-41-58.csv',encoding = 'iso-8859-11',header = 3)
D01.iloc[:10,:]

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [66]:
D01.shape

(91, 13)

In [67]:
D01.isnull().any()

Average Monthly Income Per Household: 1998 - 2015    True
Unnamed: 1                                           True
Unnamed: 2                                           True
Unnamed: 3                                           True
Unnamed: 4                                           True
Unnamed: 5                                           True
Unnamed: 6                                           True
Unnamed: 7                                           True
Unnamed: 8                                           True
Unnamed: 9                                           True
Unnamed: 10                                          True
Unnamed: 11                                          True
Unnamed: 12                                          True
dtype: bool

#เฉลย Quiz02

In [70]:
D01.head(10)

            Unnamed: 0 Unnamed: 1  ...          2015                   Unnamed: 12
0                  NaN        NaN  ...           NaN                           NaN
1      ทั่วราชอาณาจักร        NaN  ...  26914.846584                 Whole Kingdom
2             ตอนพิเศษ        NaN  ...  41002.390519               Greater Bangkok
3        กรุงเทพมหานคร        NaN  ...  45571.700000                       Bangkok
4          สมุทรปราการ        NaN  ...  25457.200000                  Samut Prakan
5              นนทบุรี        NaN  ...  36884.000000                    Nonthaburi
6             ปทุมธานี        NaN  ...  41056.900000                  Pathum Thani
7              ภาคกลาง        NaN  ...  26601.069581                Central Region
8      พระนครศรีอยุธยา        NaN  ...  28379.400000      Phra Nakhon Si Ayutthaya
9              อ่างทอง        NaN  ...  23350.600000                     Ang Thong

[10 rows x 13 columns]

In [88]:
D010_drop = D01.dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]

In [89]:
D010_drop.head()

        ภาค และจังหวัด Unnamed: 1  ...      2558 Region and province
2     ทั่วราชอาณาจักร         NaN  ...   26,915       Whole Kingdom
3            ตอนพิเศษ         NaN  ...   41,002     Greater Bangkok
4       กรุงเทพมหานคร         NaN  ...   45,572             Bangkok
5         สมุทรปราการ         NaN  ...   25,457        Samut Prakan
6             นนทบุรี         NaN  ...   36,884          Nonthaburi

[5 rows x 13 columns]

In [93]:
D010_drop2 = D010_drop.dropna(axis=1) #ลบแถวที่มีช่องว่างออก